Repository stzdiego/OlivIA: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-build-shared, dotnet-build-services, dotnet-build-ai, dotnet-build-data, dotnet-build-api, dotnet-build-client, dotnet-outdated, dotnet-test

dotnet-build-shared:
  name: Build Olivia.Shared
  entry: dotnet build ./Olivia.Shared/Olivia.Shared.csproj
  language: system
  pass_filenames: false

dotnet-build-services:
  name: Build Olivia.Services
  entry: dotnet build ./Olivia.Services/Olivia.Services.csproj
  language: system
  pass_filenames: false

dotnet-build-ai:
  name: Build Olivia.AI
  entry: dotnet build ./Olivia.AI/Olivia.AI.csproj
  language: system
  pass_filenames: false

dotnet-build-data:
  name: Build Olivia.Data
  entry: dotnet build ./Olivia.Data/Olivia.Data.csproj
  language: system
  pass_filenames: false

dotnet-build-api:
  name: Build Olivia.Api
  entry: dotnet build ./Olivia.Api/Olivia.Api.csproj
  language: system
  pass_filenames: false

dotnet-build-client:
  name: Build Olivia.Client
  entry: dotnet build ./Olivia.Client/Olivia.Client.csproj
  language: system
  pass_filenames: false

dotnet-outdated:
  name: Check for outdated .NET dependencies
  entry: dotnet outdated
  language: system
  pass_filenames: false

dotnet-test:
  name: Run .NET unit tests
  entry: dotnet test ./Olivia.Tests/Olivia.Tests.csproj
  language: system
  pass_filenames: false

Se retiran certificados
  Certificates/olivia.crt
  Certificates/olivia.csr
  Certificates/olivia.key
  Olivia.Api/appsettings.Development.json
  Reports/Olivia.AI_DoctorsManagerPlugin.html
  Reports/Olivia.AI_GeneralPlugin.html
  Reports/Olivia.AI_OpenAIAgent.html
  Reports/Olivia.AI_PatientManagerPlugin.html
  Reports/Olivia.Api_ChatAssistanceController.html
  Reports/Olivia.Api_DoctorsController.html
  Reports/Olivia.Data_OliviaDbContext.html
  Reports/Olivia.Services_ChatService.html
  Reports/Olivia.Services_DatabaseService.html
  Reports/Olivia.Services_DoctorService.html
  Reports/Olivia.Services_GoogleCalendarService.html
  Reports/Olivia.Services_PatientService.html
  Reports/Olivia.Services_ProgramationService.html
  Reports/Olivia.Services_SendGridService.html
  Reports/Olivia.Shared_AgentMessageDto.html
  Reports/Olivia.Shared_Appointment.html
  Reports/Olivia.Shared_Chat.html
  Reports/Olivia.Shared_Doctor.html
  Reports/Olivia.Shared_DoctorDto.html
  Reports/Olivia.Shared_DoctorInfoDto.html
  Reports/Olivia.Shared_DoctorNewMessageDto.html
  Reports/Olivia.Shared_GoogleCalendarSettings.html
  Reports/Olivia.Shared_IdDto.html
  Reports/Olivia.Shared_MailSettings.html
  Reports/Olivia.Shared_Message.html
  Reports/Olivia.Shared_OpenAISettings.html
  Reports/Olivia.Shared_Patient.html
  Reports/Olivia.Shared_PatientAppointmentDto.html
  Reports/Olivia.Shared_PatientNewMessageDto.html
  Reports/index.htm
  Reports/index.html
  Reports/main.js
Due: none

GitIgnore Certificates
  .gitignore
Due: none

Modificacion de pruebas
  Olivia.Tests/Olivia.Services/GoogleCalendarServiceTest.cs
  Olivia.Tests/Olivia.Services/SendGridServiceTest.cs
Due: dotnet-test

Test identity
  Olivia.Api/Data/Olivia.db
  Olivia.Api/Data/Olivia.db-shm
  Olivia.Api/Data/Olivia.db-wal
  Olivia.Api/Extensions/MigrationExtensions.cs
  Olivia.Api/Migrations/20240521023044_IdentityManager.Designer.cs
  Olivia.Api/Migrations/20240521023044_IdentityManager.cs
  Olivia.Api/Olivia.Api.csproj
  Olivia.Api/Program.cs
  Olivia.Data/Olivia.Data.csproj
  Olivia.Data/OliviaDbContext.cs
  Olivia.Services/Olivia.Services.csproj
  Olivia.Shared/Entities/User.cs
  Olivia.Shared/Olivia.Shared.csproj
  Olivia.Tests/Olivia.Services/GoogleCalendarServiceTest.cs
  Olivia.Tests/Olivia.Services/SendGridServiceTest.cs
Due: dotnet-build-shared, dotnet-build-data, dotnet-build-api, dotnet-outdated, dotnet-test

Documentacion
  Docs/DoctorAssistance.pdf
  Docs/EROlivia.png
  Docs/PatientAssistant.pdf
  Docs/TextoOlivia.svg
  Docs/favicon.png
  Olivia.Api/Controllers/ChatAssistanceController.cs
  Olivia.Api/Data/Olivia.db
  Olivia.Api/Data/Olivia.db-shm
  Olivia.Api/Data/Olivia.db-wal
  Olivia.Api/Migrations/20240521231139_FullNameDoctor.Designer.cs
  Olivia.Api/Migrations/20240521231139_FullNameDoctor.cs
  Olivia.Client/Components/App.razor
  Olivia.Client/Components/Layout/ChatDescription.razor
  Olivia.Client/Components/Layout/ChatList.razor
  Olivia.Client/Components/Layout/ChatStatusReponse.razor
  Olivia.Client/Components/Layout/MainLayout.razor
  Olivia.Client/Components/Layout/MessageSender.razor
  Olivia.Client/Components/Layout/MessageViewer.razor
  Olivia.Client/Components/Pages/Counter.razor
  Olivia.Client/Components/Pages/Doctors.razor
  Olivia.Client/Components/Pages/Error.razor
  Olivia.Client/Components/Pages/Home.razor
  Olivia.Client/Components/Pages/Patients.razor
  Olivia.Client/Components/Pages/Weather.razor
  Olivia.Client/Components/Routes.razor
  Olivia.Client/Components/_Imports.razor
  Olivia.Client/Olivia.Client.csproj
  Olivia.Client/Program.cs
  Olivia.Client/Properties/launchSettings.json
  Olivia.Client/appsettings.json
  Olivia.Client/wwwroot/app.css
  Olivia.Client/wwwroot/images/github-mark.svg
  Olivia.Client/wwwroot/images/olivia_icon.svg
  Olivia.Client/wwwroot/images/olivia_text.svg
  Olivia.Shared/Dtos/AgentMessageDto.cs
  Olivia.Shared/Entities/Doctor.cs
  Olivia.Shared/Interfaces/IOliviaApiSettings.cs
  Olivia.Shared/Settings/OliviaApiSettings.cs
Due: dotnet-build-shared, dotnet-build-api, dotnet-build-client, dotnet-outdated, dotnet-test

Coverage
  Docs/CoverageReport.pdf
  Olivia.Api/Data/Olivia.db-wal
  Reports/Olivia.AI_DoctorsManagerPlugin.html
  Reports/Olivia.AI_GeneralPlugin.html
  Reports/Olivia.AI_OpenAIAgent.html
  Reports/Olivia.AI_PatientManagerPlugin.html
  Reports/Olivia.Api_ChatAssistanceController.html
  Reports/Olivia.Api_DoctorsController.html
  Reports/Olivia.Data_OliviaDbContext.html
  Reports/Olivia.Services_ChatService.html
  Reports/Olivia.Services_DatabaseService.html
  Reports/Olivia.Services_DoctorService.html
  Reports/Olivia.Services_GoogleCalendarService.html
  Reports/Olivia.Services_PatientService.html
  Reports/Olivia.Services_ProgramationService.html
  Reports/Olivia.Services_SendGridService.html
  Reports/Olivia.Shared_AgentMessageDto.html
  Reports/Olivia.Shared_Appointment.html
  Reports/Olivia.Shared_Chat.html
  Reports/Olivia.Shared_Doctor.html
  Reports/Olivia.Shared_DoctorDto.html
  Reports/Olivia.Shared_DoctorInfoDto.html
  Reports/Olivia.Shared_DoctorNewMessageDto.html
  Reports/Olivia.Shared_IdDto.html
  Reports/Olivia.Shared_MailSettings.html
  Reports/Olivia.Shared_Message.html
  Reports/Olivia.Shared_OliviaApiSettings.html
  Reports/Olivia.Shared_OpenAISettings.html
  Reports/Olivia.Shared_Patient.html
  Reports/Olivia.Shared_PatientAppointmentDto.html
  Reports/Olivia.Shared_PatientNewMessageDto.html
  Reports/index.htm
  Reports/index.html
  Reports/main.js
  coverage.sh
Due: none

Mejoras CI
  .dockerignore
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/dotnet.yml
  .vscode/launch.json
  .vscode/tasks.json
  Deploy/docker-compose.yml
  Olivia.Api/.dockerignore
  Olivia.Api/Data/Olivia.db
  Olivia.Api/Data/Olivia.db-shm
  Olivia.Api/Data/Olivia.db-wal
  Olivia.Api/Dockerfile
  Olivia.Api/Program.cs
  Olivia.Client/Dockerfile
  Olivia.Client/Olivia.Client.csproj
  Olivia.Client/appsettings.Development.json
Due: dotnet-build-api, dotnet-outdated, dotnet-test

Update README.md
  README.md
Due: none

Adicion GitIgnore
  .gitignore
Due: none

Typing svg
  Olivia.Api/Data/Olivia.db
  Olivia.Client/Components/Pages/Doctors.razor
  Olivia.Client/Components/Pages/Patients.razor
  Olivia.Client/wwwroot/images/typing.svg
Due: none

Team in Home
  Olivia.Api/Data/Olivia.db
  Olivia.Client/Components/Pages/Home.razor
Due: none

ReportCoveragePdf
  Docs/CoverageReport.pdf
Due: none

Mejoras layout
  .github/workflows/docker.yml
  Olivia.Client/Components/Layout/MainLayout.razor
Due: none

Valor por defecto
  Olivia.Shared/Dtos/DoctorDto.cs
Due: dotnet-build-shared, dotnet-test

Mejoras de zona horaria
  Olivia.AI/Plugins/GeneralPlugin.cs
  Olivia.Services/DoctorService.cs
  Olivia.Tests/Olivia.Services/DoctorServiceTest.cs
  Reports/Olivia.AI_DoctorsManagerPlugin.html
  Reports/Olivia.AI_GeneralPlugin.html
  Reports/Olivia.AI_OpenAIAgent.html
  Reports/Olivia.AI_PatientManagerPlugin.html
  Reports/Olivia.Api_ChatAssistanceController.html
  Reports/Olivia.Api_DoctorsController.html
  Reports/Olivia.Data_OliviaDbContext.html
  Reports/Olivia.Services_ChatService.html
  Reports/Olivia.Services_DatabaseService.html
  Reports/Olivia.Services_DoctorService.html
  Reports/Olivia.Services_GoogleCalendarService.html
  Reports/Olivia.Services_PatientService.html
  Reports/Olivia.Services_ProgramationService.html
  Reports/Olivia.Services_SendGridService.html
  Reports/Olivia.Shared_AgentMessageDto.html
  Reports/Olivia.Shared_Appointment.html
  Reports/Olivia.Shared_Chat.html
  Reports/Olivia.Shared_Doctor.html
  Reports/Olivia.Shared_DoctorDto.html
  Reports/Olivia.Shared_DoctorInfoDto.html
  Reports/Olivia.Shared_DoctorNewMessageDto.html
  Reports/Olivia.Shared_GoogleCalendarSettings.html
  Reports/Olivia.Shared_IdDto.html
  Reports/Olivia.Shared_MailSettings.html
  Reports/Olivia.Shared_Message.html
  Reports/Olivia.Shared_OliviaApiSettings.html
  Reports/Olivia.Shared_OpenAISettings.html
  Reports/Olivia.Shared_Patient.html
  Reports/Olivia.Shared_PatientAppointmentDto.html
  Reports/Olivia.Shared_PatientNewMessageDto.html
  Reports/index.htm
  Reports/index.html
  Reports/main.js
Due: dotnet-build-services, dotnet-build-ai, dotnet-test

Mejora de prompt
  Olivia.Api/Controllers/ChatAssistanceController.cs
Due: dotnet-build-api, dotnet-test

Path conditions:
  dotnet-build-shared: any of: ^Olivia\.Shared/.*\.cs$
  dotnet-build-services: any of: ^Olivia\.Services/.*\.cs$
  dotnet-build-ai: any of: ^Olivia\.AI/.*\.cs$
  dotnet-build-data: any of: ^Olivia\.Data/.*\.cs$
  dotnet-build-api: any of: ^Olivia\.Api/.*\.cs$
  dotnet-build-client: any of: ^Olivia\.Client/.*\.cs$
  dotnet-outdated: any of: \.(csproj|config)$
  dotnet-test: any of: .*\.cs$
